.contacto{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F5F7;
    h1{
        margin-bottom: 0;
        padding:0;
    }
    p{
        margin-top: 0;
        padding:1vh;
    }
}
.contenido{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fila,.filaDoble{
    box-sizing: border-box;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    input[type="text"],textarea{
        box-sizing: border-box;
        width: 100%;
        margin: 2vmin;
        height: 8vh;
        padding: 1vh;
        background: transparent;
        border: solid 1px #707070;
        border-radius: .5vmin;
        &:focus{
            outline: none;
            background: white;
            border: none;
            box-shadow: 0px 10px 15px 1px rgba(0,0,0,.3);
        }
    }
    textarea{
        height: 30vh;
        resize: none;
    }
    button{
        box-sizing: border-box;
        width: 20vw;
        margin: 2vmin;
        height: 5vh;
        padding: 1vh;
        border-radius: 1vmin;
        background: #EE8B3B;
        color: white;
        border: none;
        box-shadow: 0px 10px 15px 1px rgba(0,0,0,.3);
    }
}
@media (max-width: 768px){
    .contacto{
        text-align: center;
    }
    .fila{
        width: 80vw;
        button{
            width: 40vw;
        }
    }
    .filaDoble{
        box-sizing: border-box;
        width: 80vw;
        height: 20vh;
        padding-left: 1vh;
        padding-right: 1vh;
        flex-direction: column;
    }
}
