.servicios{
    position: relative;
    box-sizing: border-box;
    background:white;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .fondo{
        position: absolute;
        bottom: -25vw;
        left: -20vw;
        width: 50vw;
        height: 50vw;
    }
    a{
        width: 6.5vw;
        height: 4vh;
        display: flex;
        align-items: center;
        margin-top:5vh;
        justify-content: center;
        background: #EE8B3B;
        color:white;
        border-radius: 1.5vh;
        margin-right: 1vh;
    }
}
.contenedor{
    position: relative;
    box-sizing: border-box;
    width: 80vw;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.columna1{
    position: relative;
    box-sizing: border-box;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    h1,p{
        text-align: left;
        width: 20vw;
        margin-bottom: 1vmin;
        padding: 0;
    }
    h1{
        font-size: 6vmin;
        font-weight: 900;
    }
    p{
        font-size: 12pt;
    }
    a{
        font-size: 1.5vmin;
    }
}
.columna2{
    position: relative;
    box-sizing: border-box;
    width: 40vw;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.item{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: flex-start;
    h3,p{
        width: 15vw;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    img{
        height: 10vh;
        margin-bottom: 3vh;
    }
}
@media (max-width: 768px){
    .servicios{
        height: 300vh;
    }
    .contenedor{
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    .columna1{
        height: 30vh;
        width: 80vw;
        p,h1{
            width: 80vw;
            text-align: center;
        }
        a{
            margin: auto;
            width: 40vw;
            border-radius: 20vw;
            font-size: 3vmin;
        }
    }
    .columna2{
        width: 80vw;
        height: 80%;
        padding-top: 5vh;
    }
    .item{
        width: 80vw;
        h3,p{
            width: 60vw;
        }
    }
    .fondo{
        height: 200vh;
        left: -50vh;
        top: 150vh;
    }
}
