.somos{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fondo{
    z-index: -900;
    position: absolute;
    top: -10vh;
    left: -15vw;
    background: #f5f5f7;
    width: 130vw;
    height: 100vh;
    border-bottom-right-radius: 120%;
    border-bottom-left-radius: 120%;
}
.contenedor{
    width: 80vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    h2,p{
        width: 10vw;
        margin: 1vh;
        padding: 0;
    }
}
@media (max-width: 768px){
    .contenedor{
        flex-direction: column;
        height: 120vh;
    }
    .fondo{
        top:0;
        width: 150vh;
        left: -50vh;
    }
    .item{
        margin:4vh;
        img{
            height: 10vh;
        }
        h2,p{
            width: 60vw;
            margin: .5vh;
        }
        h2{
            font-size: 4vmin;
        }
        p{
            font-size: 3vmin;
        }
    }
}
