.cabecera{
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F7;
}
.logo{
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contenedor{
    box-sizing: border-box;
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    nav{
        box-sizing: border-box;
        width: 30vw;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        ul{
            position: relative;
            box-sizing: border-box;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            margin: 0;
            padding: 0;
            li{
                position: relative;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    font-size: 1.8vmin;
                }
                &:first-child{

                &::before{
                    position: absolute;
                    left: 0;
                    bottom: -.5vh;
                    width: 50%;
                    height: 3px;
                    border-radius: 3px;
                    background: #EE8B3B;
                    content: "";
                }
                }
            }
        }
    }
}
@media (max-width: 768px){
    .cabecera{
        height: 15vh;
    }
    .contenedor{
        .logo{
            width: 40vw;
            img{
                width: 100%;
            }
        }
        nav{
            display: none;
        }
    }
}
