.portfolio{
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor{
    box-sizing: border-box;
    width: 60vw;
    height: 30vw;
    background: #EE8B3B;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "itemA itemB itemB itemE itemG itemG"
    "itemA itemB itemB itemF itemF itemH"
    "itemC itemC itemD itemF itemF itemH";
}
.itemA{
    box-sizing: border-box;
    grid-area: itemA;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemB{
    box-sizing: border-box;
    grid-area: itemB;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemC{
    box-sizing: border-box;
    grid-area: itemC;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemE{
    box-sizing: border-box;
    grid-area: itemE;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemD{
    box-sizing: border-box;
    grid-area: itemD;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemF{
    box-sizing: border-box;
    grid-area: itemF;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemG{
    box-sizing: border-box;
    grid-area: itemG;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.itemH{
    box-sizing: border-box;
    grid-area: itemH;
    width: 100%;
    height: 100%;
    overflow:hidden;
    img{
        object-fit:none;
        width: 100%;
        height: 100%;
    }
    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}
.modal{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    z-index: 900;
    img{
        height: 50vh;
    }
}

@media (max-width: 768px){
    .contenedor{
        height: 88vh;
        width: 80vw;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,1fr);
        grid-template-areas: 
        "itemA itemB itemB"
        "itemA itemB itemB"
        "itemC itemC itemD"
        "itemE itemG itemG"
        "itemF itemF itemH"
        "itemF itemF itemH";
    }
    .itemA,.itemB,.itemC,.itemD,.itemE,.itemF,.itemG,.itemH{
        img{
            object-fit: cover;
            height: 120%;
        }
    }
    .modal{
        position: fixed;
        width: 100vw;
        max-width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .5);
        z-index: 900;
        img{
            width: 80vw;
            height: auto;
        }
    }
}
