.heroe{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    background: #F5F5F7;
}
.contenedor{
    box-sizing: border-box;
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mitad1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    h1,p{
        width: 20vw;
        margin-bottom: 1vmin;
        padding: 0;
    }
    h1{
        font-size: 6vmin;
        font-weight: 900;
    }
    p{
        font-size: 12pt;
    }
    a:first-child{
        width: 6.5vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EE8B3B;
        color:white;
        border-radius: 1.5vh;
        margin-right: 1vh;
        font-size: 1.5vmin;
    }
    a:last-child{
        width: 6.5vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: solid 1px black;
        color:black;
        border-radius: 1.5vh;
        margin-right: 1vh;
        font-size: 1.5vmin;
    }
}
.botonera{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mitad2{
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img{
        width: 35vw;
    }
}
@media (max-width: 768px){
    .contenedor{
        flex-direction: column;
    }
    .botonera{
        width: 60vw;
    }
    .mitad1{
        height: 50vh;
        width: 80vw;
        h1,p{
            width: 60vw;
        }
        a:first-child{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25vw;
            height: 6vh;
            font-size: 8pt;
            border-radius:2vh;
            padding: 0;
            font-size: 3vmin;
        }
        a:last-child{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25vw;
            height: 6vh;
            font-size: 8pt;
            border-radius:2vh;
            padding: 0;
            font-size: 3vmin;
        }
    }
    .mitad2{
        width: 80vw;
        height: 50vh;
        img{
            position: absolute;
            left: 8vw;
            top: 0;
            width: 100vw;
        }
    }
}
