.piePagina{
    width: 100vw;
    max-width: 100%;
    height: 30vh;
    background: #EE8B3B;
    color: white;
    display: grid;
    grid-template-columns: 10vw 26.66vw 26.66vw 26.66vw 10vw;
    grid-template-rows: 25vh 5vh;
    grid-template-areas:
    ". direcciones navegacion redes ."
    ". copyright copyright copyright .";
    ul{
        list-style: none;
        padding-left: 0;
        li{
            margin: .5vh;
        }
    }
    a{
        color: white;
        text-decoration: underline;
    }
    h2{
        margin: 0;
        padding: 1.8vh;
    }
}
.mobile{
    display: none;
}
.copyright{
    box-sizing: border-box;
    grid-area: copyright;
    width: 80vw;
    height: 100%;
    padding: 1vh;
    text-align: center;
    margin: auto;
    color: white;
    border-top: solid 1px white;
}
.direcciones{
    box-sizing: border-box;
    grid-area: direcciones;
    padding: 1vh;
    img{
        width: 15vw;
    }
}
.titulo{
    width: 80%;
    border-bottom: solid 1px white;
    padding: 4px;
}
.navegacion{
    box-sizing: border-box;
    grid-area: navegacion;
    .titulo{
        width: 50%;
    }
    a{
        text-decoration: none;
        font-weight: 600;
    }
}
.redes{
    box-sizing: border-box;
    grid-area: redes;
    .titulo{
        width: 60%;
    }
}
@media (max-width: 768px){
    .piePagina{
        grid-template-areas:
    ". mobile mobile mobile ."
    ". copyright copyright copyright .";
    }
    .mobile{
        grid-area: mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 80vw;
        }
    }
    .direcciones{
        display: none;
    }
    .navegacion{
        display: none;
    }
    .redes{
        display: none;
    }
}
